<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pr3dataset.Properties.Settings.prakta3ConnectionString"
            connectionString="Data Source=LOSHPED\SQLEXPRESS;Initial Catalog=prakta3;Integrated Security=True;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>